<md-dialog aria-label="Nueva licitación" flex="80">
  <form ng-cloak ng-submit="grabarNuevaLicitacion()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nueva licitación</h2>
        <span flex></span>
        <md-button layout-align="right" class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>{{status}}</md-dialog-content>
    <md-dialog-actions>
      <div class="md-dialog-content" flex="100">
          <md-content md-theme="docs-dark">
            <md-input-container class="md-block" flex="95">
                <label>Objeto</label>
                <input ng-model="licitacion.objeto">
            </md-input-container>
          </md-content>

          <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
            <div flex="95" layout="row">
            <md-input-container>
                <label>CPV</label>
                <input ng-model="licitacion.CPV">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Importe de Licitación</label>
                <input ng-model="licitacion.importe_max">
              </md-input-container>
              <md-input-container class="md-block" flex="95">
                <label>Órgano de contratación</label>
                <input ng-model="licitacion.org_contratacion" disabled>
              </md-input-container>
          </div>
          </md-content>

        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
          <div flex="95" layout="row">
            <md-input-container flex="20">
              <label>Fecha inicio</label>
              <md-datepicker ng-model="licitacion.fecha_inicio"></md-datepicker>
            </md-input-container>
            <md-input-container flex="20">
              <label>Fecha fin</label>
              <md-datepicker ng-model="licitacion.fecha_fin"></md-datepicker>
            </md-input-container>
            <md-input-container flex="20">
              <label>Fecha Mesa 1</label>
              <md-datepicker ng-model="licitacion.fecha_mesa_adm"></md-datepicker>
            </md-input-container>
            <md-input-container flex="20">
              <label>Fecha Mesa 2</label>
              <md-datepicker ng-model="licitacion.fecha_mesa_subj"></md-datepicker>
            </md-input-container>
            <md-input-container flex="20">
              <label>Fecha Mesa 3</label>
              <md-datepicker ng-model="licitacion.fecha_mesa_obj"></md-datepicker>
            </md-input-container>
            </md-input-container>
          </div>
        </md-content>


              <md-input-container class="md-block">
                <label>PPT</label>
                <textarea ng-model="licitacion.ppt"></textarea>
              </md-input-container>
        <md-input-container class="md-block">
          <label>PCA</label>
          <textarea ng-model="licitacion.pca"></textarea>
        </md-input-container>
        <label>Criterios</label>
        <md-input-container class="md-block" ng-repeat="criterio in licitacion.criterios">
          <textarea ng-value="criterio" disabled></textarea>
        </md-input-container>
        <md-button class="md-primary md-raised my-button" ng-click="addCriterio(licitacion)" min-width=200px>
          Añadir criterio
        </md-button>
        <div layout="row" flex="95">
          <md-button class="md-primary md-raised" type="Submit">
            Grabar
          </md-button>
        </div>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>



