<<!DOCTYPE html>
<html lang="es" ng-app="licichainApp">
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta charset="UTF-8">
  <link href="lib/angular-material/angular-material.css" rel="stylesheet">
  <link href="lib/angular-material-data-table/dist/md-data-table.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <title>Pruebas de Licichain</title>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-resource/angular-resource.js"></script>
  <script src="lib/angular-material/angular-material.js"></script>
  <script src="lib/angular-animate/angular-animate.js"></script>
  <script src="lib/angular-aria/angular-aria.js"></script>
  <script src="lib/angular-messages/angular-messages.js"></script>
  <script src="lib/angular-material-data-table/dist/md-data-table.js"></script>
  <script src="js/lb-services.js"></script>
  <script src="app.module.js"></script>
  <script src="licitacion-list/licitacion-list.component.js"></script>
  <script src="licitacion-list/licitacion-list.module.js"></script>
  <script src="licitacion-form/licitacion-form.component.js"></script>
  <script src="licitacion-form/licitacion-form.module.js"></script>
  <script src="licitacion-detail/licitacion-detail.component.js"></script>
  <script src="licitacion-detail/licitacion-detail.module.js"></script>
  <script src="empresa-list/empresa-list.component.js"></script>
  <script src="empresa-list/empresa-list.module.js"></script>
  <script src="licitacion-form/licitacion-nueva.controller.js"></script>
  <script src="licitacion-detail/licitacion-detail.controller.js"></script>
</head>
<body ng-app="licichainApp">

  <div id="signup">
    <div class="signup-screen">
      <div class="space-bot text-center">
        <h1>Sign up</h1>
        <div class="divider"></div>
      </div>
      <form class="form-register" method="post" name="register" novalidate>
        <div class="input-field col s6">
          <input id="first-name" type="text" class="validate" required>
          <label for="first-name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last-name" type="text" class="validate" required>
          <label for="last-name">Last Name</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" name="email" ng-model="email" class="validate" required>
          <label for="email">Email</label>
        </div>
        <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.</p>
        <div class="input-field col s6">
          <input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate" required>
          <label for="password">Password</label>
        </div>
        <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
        <div class="space-top text-center">
          <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
            <i class="material-icons left">done</i> Done
          </button>
          <button type="button" class="waves-effect waves-light btn cancel">
            <i class="material-icons left">clear</i>Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
